<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">
        <img class="logo main" src="/images/ui/logo.png">
        <p>Infinitrack</p>
    </a>
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/horses">Horses</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/races">Races</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/about">About</a>
        </li>
        
        <% if (loggedin) { %>
            <%- include('./userMenu'); %>
        <% } %>
    </ul>
</nav>