<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#registerModal">
    Register
</button>

<div id="registerModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Register</h5>
                </button>
            </div>
            <form action="/api/users/register" method="post">
                <div class="form-group">
                    <label for="username">
                        <i class="fas fa-user"></i>
                    </label>
                    <input class="form-control" type="text" name="username" placeholder="Username" id="username" required>
                </div>
                <div class="form-group">
                    <label for="password">
                        <i class="fas fa-lock"></i>
                    </label>
                    <input class="form-control" type="password" name="password" placeholder="Password" id="password" required>
                </div>
                <div class="form-group">
                    <label for="confirmPassword">
                        <i class="fas fa-lock"></i>
                    </label>
                    <input class="form-control" type="password" name="confirmPassword" placeholder="Confirm Password" id="confirmPassword" required>
                </div>
                <button type="submit" class="btn btn-primary">Register</button>
            </form>
        </div>
    </div>
</div>