<li class="nav-item dropdown show">
    <a class="nav-item nav-link dropdown-toggle mr-md-2" href="#" id="userMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        <%= username %>
    </a>
    <div class="dropdown-menu" aria-labelledby="userMenuButton">
        <a class="dropdown-item" href="/refresh"><i class="fa-solid fa-coins"></i> userbalance</a>
        <a class="dropdown-item" href="/bets">My Bets</a>
        <a class="dropdown-item" href="/settings">Settings</a>
        <a class="dropdown-item" href="/api/users/logout">Logout</a>
    </div>
</li>