<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>

<body class="container">

    <header>
        <%- include('../partials/header'); %>
    </header>

    <main>
        <div class="container">
            <div class="item-list bet-list" id="bet-list">
            </div>
            <script>getBets()</script>
            <p class="empty-list">No bets have been added yet. Head for the races to place a bet <a href="/races">HERE!</a></p>
        </div>
    </main>

    <footer>
        <%- include('../partials/footer'); %>
    </footer>

</body>
</html>