<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>

<body>

    <header>
        <%- include('../partials/header'); %>
    </header>

    <main>
        <div class="container">
            <% if (isAdmin) { %>
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addHorseModal">
                    Add horse
                </button>
            <% } %>
            <div class="item-list horse-list" id="horse-list">
                
            </div>
            <script>getHorses()</script>
            <p class="empty-list">No horses are present in the system. Please add some!</p>
        </div>
        
        <div id="addHorseModal" class="modal fade" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Add Horse</h5>
                        </button>
                    </div>
        
                    <div class="modal-body">
                        <form id="editForm" method="POST" action="/api/horses">
                            <div class="form-group">
                                <label for="horseName">Name</label>
                                <input class="form-control" name="horseName" id="horseName" required>
                            </div>
        
                            <div class="form-group">
                                <label for="horsePower">Power</label>
                                <input class="form-control" type="number" name="horsePower" id="horsePower" required>
                            </div>

                            <div class="form-group">
                                <label for="horseBreed">Breed</label>
                                <input class="form-control" name="horseBreed" id="horseBreed" required>
                            </div>
        
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <footer>
        <%- include('../partials/footer'); %>
    </footer>

</body>
</html>