<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>

<body >

    <header>
        <%- include('../partials/header'); %>
    </header>

    <main>
        <div class="container">
            <h1>This will someday be a wonderful place</h1>
            <p>That day is not today</p>
        </div>
    </main>

    <footer>
        <%- include('../partials/footer'); %>
    </footer>

</body>

</html>