<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>

<body class="container">

    <header>
        <%- include('../partials/header'); %>
    </header>

    <main>
        <script>getRace(<%= id %>)</script>
        <div class="race-container"></div>
    </main>

    <footer>
        <%- include('../partials/footer'); %>
    </footer>

</body>
</html>